/* @media screen and (max-width: 768px){
    
    }
@media screen and (max-width: 768px){
#hotel1{
    width: 35%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 30px;
         
}
} */