

 .layout{
    background-image: url(house1.jpg);
    width: 100%;
    text-align: center;
    background-color: #bac8ff;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: larger;
}
#title{
    /* font-family: 'Dancing Script', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Libre Baskerville', serif; */
font-family: 'Noto Serif', serif;
font-size: x-large;
}
#shell{
    color: darkred;
}
.btn{
      display: flex; 
    gap: 5%;
    text-align: center;
    background-color:blue;
    border-radius: 30px;
    width: 45%;
    
    padding: 30px 30px;
    margin-bottom: 30px;
   
    
    
 
   
    }
    #search{
        color: blue;
        padding: 10px;
    }

    #butn1{
        border-radius: 25px;
        margin: 20px;
        padding: 5px 10px 5px 10px ;
        font-size: large;

    }
    #butn2{
        border-radius: 20px;
        color: antiquewhite;
        padding: 7px 30px 7px 30px;
        background-color: darkblue;
        font-size: large;
        border-style: none;
        
    }
     #butnn{
        border-radius: 35px;
        padding: 0px 50px 0px 50px;
        background-color: #be4bdb;
        font-size: large;
        border-style: none;
        margin: 10px;



     }

    #pple{
        text-align: center;
    }
    .booking1,.booking2,
    .booking3,
    .booking4,
    .booking5,
    .booking6{
        border-radius: 30%;
        padding: 10px;
        background-color:blue ;
    }

    .images{
        /* width: 40%; */
        display: flex;
         
    }
     
    
    #hotel{
        font-family: 'Noto Serif', serif; 
        font-size: large;
        text-align: center;
    }

    
    #dubai1,#dubai2,#dubai3{
        width: 25%;
        gap: 10%;
        justify-content: space-between;
        padding: 15px;
    }
   #title2{
    text-align: center;
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif', serif;


   }
   #faculty{
    font-size: xx-large;
    text-align: center;
font-family: 'Noto Serif', serif;
   }
   #butn3{
  text-align: center;
    border-radius: 35%;
    padding: 20px;
    font-size: large;
    border-color: blue;
  
   }
   .Icons .icons{
    width:20%;
    display: flex;
   }
   .rooms{
    text-align: center;

   }
   .Icons{
    display: flex;
   }
   #question{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: xx-large;

   }
   #logos{
    width: 30%;
   }
   .Beds .beds{
    width: 55%; 
   }
   #son ,#son2, #son3
   {
    border-radius: 45%;
    padding: 20px;
   text-align: center; 
   

   }
    .Beds{
     display: grid;
    grid-template-columns: repeat(3,1fr); 
    margin: 30px;
    
 }   

 .menu{
    text-align: center;
 }
  
   
   .rooms{
    text-align: center;
    margin: 30px;
   }
   .Nuro{
    display: flex;
    justify-content: space-between;
    background-color: #be4bdb;
    margin: 10px;
   }
   .Pasta .pasta{
    display: flex;
    width: 50%;
   }
   .log{
    padding: 10px;
    margin: 20px;

   }
   .Pasta{
    display:grid;
    grid-template-columns:repeat(3 ,1fr);
   
    padding: 50px;
   }
   #subcribe{
    border-radius: 30%;
    padding: 10px;
    background-color: blue;
   }
  
   #email{
    padding: 15px;
    border-radius: 30%;
   }
   #butn5 {
    border-radius: 30px;
    
    margin: 40px;
    padding: 7px 30px 7px 30px;
   
   }
   #butn6{
    border-radius: 30px;
    margin: 40px;
    padding: 7px 30px 7px 30px;
   }
   #butn7{
    border-radius: 30px;
    margin: 40px;
    padding: 7px 30px 7px 30px;
   }
   .comply{
float: right;
padding-right: 100px;
 margin: 20px; 
   }
   
   .reviews{
    float: right;
   }
   /* .compliments{
    float: right; */
   .compliments{
    padding-left: 90px;
   }
   #girl{
    width: 50%;
    padding-top: 40px;
  
   
   }
   .butnbig{
    margin: 30px;
    padding: 30px  450px 30px 450px;
    border-radius: 10%;
    background-color: blue;
    color: white;
    text-align: center;
    /* margin-bottom: 50px; */
   }
.people{
/* display: flex; */
gap: 5%;
 text-align: center; 
}
#message{
     padding: 40px;
    /* margin: 30px;  */
}
/* #hotel{
    width: 30%;
    text-align: center;
} */
.bridges{
    width: 75%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    float: right;
    margin: 8px;
   
}
.div{
     display: grid; 
    grid-template-columns:repeat(2,1fr); 
    font-family: 'Noto Serif', serif;
    font-size: larger;
}
#Bridge{
    width: 50%;
}
.Bridge1{
    display: flex;
 
}
#star{
    font-size: xx-large;
}
.details{
     display: grid;
     grid-template-columns: repeat(2,1fr);
   
}
.wifi{
    float: left;
    display: flex;
    gap: 20%;
    padding: 10px;
   
}
.gym{
    background-color: antiquewhite;
   padding: 10px;
}


#dinner{
   display: flex;
}
.mainfooter{
    font-family: 'Noto Serif', serif;
    font-size: larger;
}

    #hotel1{
        width: 35%;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
        padding: 30px;
        
        
    }
    .Hotelmain{
        display: flex;
        font-family: 'Noto Serif', serif;
        font-size: x-large;      
       
    }
    @media screen and (max-width: 768px) {.container{

    }
    
    } 
    
    